.my-navbar {
  width: calc(100vw - 1.1rem);
  margin-top: -2%;
  margin-left: -1%;
  height: 80px;
  background-color: #1F2833;
  position: sticky;
  top: 0;
  left: 0;
  overflow: visible;
}

ul.meniu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: 80px;
}

ul.meniu li.singular {
  height: 80px;
  display: inline-block;
  box-sizing: border-box;
}

ul.meniu li.singular:hover {
  height: 80px;
}

ul.meniu .casuta {
  display: inline-block;
  position: relative;
  transform: translateY(100%);
  margin-left: 20%;
}

ul.meniu li,
ul.meniu li a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

ul.meniu .acasa {
  display: none;
}

ul.meniu li {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  height: 80px;
  width: 120px;
}

ul.submeniu li {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: -6vh;
  height: 50%;
  background-color: #C5C6C7;
  border-bottom: 0px;
}