$culoare-p: #F0F3FB;
#galerie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.grid-item {
  grid-area: auto;
}

#grid-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#grid-pic img {
  max-width: 100%;
  height: auto;
  rotate: var(--angle);
}
#grid-pic img:hover{
  animation: efect-galerie 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: center center;
}
#grid-pic figcaption {
  margin-top: 0.5em;
  color: $culoare-p;
}
@keyframes efect-galerie{
  0% {
    --angle: 0deg;
    transform: scale(1);
  }
  25% {
    --angle: 90deg;
    transform: scale(1.1);
  }
  50% {
    --angle: 180deg;
    transform: scale(1.2);
  }
  75% {
    --angle: 270deg;
    transform: scale(1.3);
  }
  100% {
    --angle: 360deg;
    transform: scale(1.5);
  }
}
@media screen and (max-width: 1000px) and (min-width: 751px) {
  #galerie-grid {
    display: grid;
    grid-template-rows: auto;
    max-width: 100vw; /* Set the maximum width to the screen size */
    grid-gap: 10px; /* Adjust the gap between grid items */
  }

  #galerie-grid > .grid-item:nth-child(3n + 1),
  #galerie-grid > .grid-item:nth-child(3n + 2) {
    grid-column: span 2; /* First row: 1st picture and 2nd picture take 2 fractions */
  }

  #galerie-grid > .grid-item:nth-child(3n + 3) {
    grid-column: span 3; /* Second row: 1fr gap, 2fr picture, 1fr gap */
  }
}
@media screen and (max-width: 750px){
  #galerie-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2em;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item {
    grid-area: auto;
  }
  
  #grid-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #grid-pic img {
    max-width: 100%;
    height: auto;
  }

}