<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head") %>
</head>

<body>
    <%- include("../fragmente/navbar") %>

    <main>
        </br>
        
    </main>

    <%- include("../fragmente/footer") %>

</body>

</html>