<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head") %>
</head>

<body>
    <%- include("../fragmente/navbar") %>

    <main>
        </br>
        <section>
            <h2>Mail confirmat!</h2>
            <h3><a href="/index">Intoarce-te la pagina principala aici!</a></h3>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>

</body>

</html>