<div class="link-top">
    <a class="arrow" href="#"></a>
    <span class="tooltip-text">Link catre top</span>
</div>

<div id="content-footer" class="d-flex justify-content-start">
    <div class="p-2 bd-highlight">
        <a href="https://gdprinfo.eu/ro/ro-article-7" download>
            <p>Regulament privind prelucrarea datelor personale</p>
        </a>
    </div>
    <div class="p-2 bd-highlight">
        <a href="mailto:mihai.tufescu@gmail.com">Trimite mail</a>
    </div>
    <div class="p-2 bd-highlight">
        <a href="tel:40773947086">Suna-ma</a>
    </div>
    <div class="p-2 bd-highlight">
        <a href="https://wa.me/40773947087">Whapp</a>
    </div>
    <div class="p-2 bd-highlight">
        <address>
            <a href="https://goo.gl/maps/2Fm1tHWRpMNDeUVx7">Bld. Primaverii, Nr.1989, Mun. Bucuresti</a>
        </address>
    </div>
    <div class="p-2 bd-highlight">
        <a href="./resurse/termeni-si-conditii-final-completat-GDPR.pdf" download="termeni">Termeni si conditii</a>
    </div>
    <div class="p-2 bd-highlight">
        <small>
            <a href="#">&copy; Tufescu Holdings</a>
            <time datetime="2023-03-01">27 Feb 2023</time>
        </small>
    </div>
</div>