<div id="container-galerie-dinamica" class="galerie-dinamica">
    <div id="derulant">
        <figure class="active">
            <img src="/imagini/galerie/gates.jpg" alt="Bill Gates" />
            <figcaption>Bill Gates</figcaption>
        </figure>
        <figure>
            <img src="/imagini/galerie/musk.jpg" alt="Elon Musk" />
            <figcaption>Elon Musk</figcaption>
        </figure>
        <figure>
            <img src="/imagini/galerie/ellison.jpg" alt="Larry Ellison" />
            <figcaption>Larry Ellison</figcaption>
        </figure>
    </div>
</div>