<div id="galerie-grid">
    <% 
    var d=new Date();
    var incadrare="" ;

    console.log(d.getHours());
    
    if(d.getHours() <= 4 || d.getHours() >= 20){
        incadrare = "noapte";
    }
    else if (d.getHours() >= 5 && d.getHours() <= 12){
        incadrare = "dimineata";
    }
    else
        incadrare = "zi";
    var counter = 0;
    console.log(incadrare);
     for (let img of locals.imagini)
     {
        if(img.timp === incadrare && counter <=11)
        { 
        %>
        <div class="grid-item" id="<%-"grid-item"+counter%>">
                <figure id="grid-pic">
                    <img src="<%- img.fisier %>"/>
                    <figcaption><%- img.descriere %></figcaption> 
                </figure>
            </div>
        
        <%
        counter += 1;
        } 
        if(counter>2)
            counter = 0;
    }%>
</div>
<div id = "gol"></div>