<meta charset="UTF-8">
<title> 0to100 - Cursuri programare</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" href="/styles/mainstyle.css">
<link rel="stylesheet" href="/styles/galeriestatica.css">
<link rel="stylesheet" href="/styles/galeriedinamica.css">
<link rel="stylesheet" media="(max-width = 1000px)" href="/styles/style1000.css">
<link rel="stylesheet" media="screen" href="/styles/nav.css">
<link rel="stylesheet" media='screen and (min-width: 200px) and (max-width: 700px)' href="/styles/navmobile.css" />
<link rel="stylesheet" media='screen and (min-width: 701px) and (max-width: 1000px)' href="/styles/nav1000.css" />
<meta name="keywords" content="proiect, HTML, tag, reguli,bonus">
<meta name="description" content="Platforma 0to100 pentru urmatorul pas in cariera ta">
<meta name="author" content="Mihai Tufescu"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="/imagini/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/imagini/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imagini/favicon-16x16.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="manifest" href="/imagini/site.webmanifest">
<script src="https://kit.fontawesome.com/4073def533.js" crossorigin="anonymous"></script>
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">