<nav class="my-navbar">
    <label id="buton-meniu" for="ch-menu">
        <i class="fa-sharp fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li class="singular">
            <div class="acasa">
                <a href="/home">Home</a>
            </div>
            <div class="casuta">
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>
            </div>
        </li>
        <li>
            <a href="/cursuri">Cursuri</a>
            <ul class="submeniu">
                <% for(let i=0; i< cat.length; i++){
                    let link = cat[i].entry.toLowerCase().replace(/\s/g, "");
                    %>
                <li><a href="/cursuri/<%- link %>"><%- cat[i].entry %></a></li>
                <%
                } %>
            </ul>
        </li>
        <li>
            <a href="/certificate">Certificate</a>
            <ul class="submeniu">
                <li><a href="#">Certificate</a></li>
                <li><a href="#">Testimoniale</a></li>
            </ul>
        </li>
        <li>
            <a href="/profil">Contul meu </a>
            <ul class="submeniu">
                <li><a href="#">Setari</a></li>
                <li><a href="#">Statut</a></li>
                <li><a href="#">Cursurile mele</a></li>
            </ul>
        </li>
        <li class="singular"><a href="/autentificare">Autentificare</a></li>
        <li class="singular">
            <a href="/cos"> <i class="fa-solid fa-bag-shopping fa-xl" style="color: #ffffff; margin-left: 12vh;"></i> </a>
        </li>
        
    </ul>

</nav>